
@import "tailwindcss";
@theme{
  --color-softPink:#abd9ab;
  --color-base: #FEF2F2;
  --color-accent:#EF4444;
  --color-softGray: #D3D3D3;
 --color-deepNavy:#1F2A44;
 --color-mutedGold:#D4A017;
}
html {
  scroll-behavior: smooth;
}